*
{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: black;
}
    /* Le titre et le menu */
.menu
{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul 
{
    display: flex;
    margin: 0 10px;
}
.nav ul li
{
    list-style: none;
}
.nav ul li a
{
    display: inline-block;
    margin: 0 10px;

} 


.nav a:hover
{
    color: rgba(157, 33, 33, 0.768);
}

/* l'entête Pour les petite ecran */
@media screen and (max-width: 700px) 
{
    .nav ul 
    {
        display: none;
    }
    
    
}

     /* Image de Widzi */

.sec-1
{
    background-image: url(Projet\ \ Mise\ en\ place-main.jpg);
    background-size: cover;
    background-position: center;
    height: 580px;
}

.visit h2
{
    text-align: center;
    padding-top: 150px;
    font-size: 2.5em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.visit h2 span
{
    font-weight: 700;
}
.visit a
{
    display: block;
    width: 50px;
    background-color: rgb(80, 66, 203);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    margin: 80px auto;
}

 /* Service */

 .sec-2
 {
    margin-top: 100px;
 }
.service ul
{
    display: flex;
    justify-content: space-around;

}
.service ul li
{
    list-style: none;
    text-align: center;
}
.service ul li h3
{
    margin: 20px 0;
}
.service ul li p
{
    margin: 0 auto;
    color: #777;    
    width: 80%;
}

    /* Possibilité */

.sec-3
{
    background-color: #77777746;

}
.sec-3 .der
{
    border: 1px solid red;
    display: inline-block;
}


.pos
{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.pos article:nth-child(1)
{
    border-radius: 10px;
    width: 460px;
    height: 270px;
    background-image: url(article-image-1.jpg);
    
}
.pos article:nth-child(2) 
{
    border-radius: 10px;
    width: 460px;
    height: 270px;
    background: url(article-image-2.jpg) no-repeat;
}

.part
{
    padding: 10px;
    width: 50%;
    height: 250px;
    background-color: #ffffffbd;
    border-radius: 10px 0 0 10px;
}
.part h3
{

    text-align: center;
}
.part p
{
    text-align: center;
}
.part a
{
    display: block;
    width: 100px;
    text-align: center;
    background-color: #6d8734;
    padding: 10px;
    border-radius: 5px;
    margin: 50px auto;
}
.part a:hover
{
    background-color: #726060;
    color: #fff;
}

hr
{
    margin: 10px 0;
    background-color: #777;
}

    /* Possibilté version mobile */

@media screen and (max-width: 600px) {
    .part a
    {
        display: none;

    }
}

        /* COntact */

.Contact h3
{
    width: 400px;
    margin: 50px auto 20px auto;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 1px;
    border-bottom: 1px solid red;
}
.Contact p
{
    text-align: center;
    padding: 10px;
}
.Contact form
{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
}
.Contact form input:nth-child(2), input:nth-child(4)
{
    width: 400px;
    padding: 5px;
    margin: 10px;
    margin: 0 50px 0 10px;
}
.Contact input:nth-child(5)
{
    padding: 5px;
    background-color: #89b923;
    border-radius: 5px;
}
.Contact input:nth-child(5):hover
{
    background-color: #668a1a;
    color: #fff;
}
.Widzi
{
    text-align: center;
    background-color: #00000065;
}
.Widzi h3
{
    padding: 20px 0 10px 0;
    font-size: 2em;
    font-weight: 700;
}

.Widzi p
{
    padding: 20px 0;
}
